<nav>
    <div class="site-title">
      <a href="/"><h1>Barter-App</h1></a>
      <p>One man's trash is another man's treasure</p>
    </div>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/items/create">List an item</a></li>
    </ul>
</nav>