<nav>
    <div class="site-title">
      <a href="/"><h1>Barter-App</h1></a>
      <p>One man's trash is another man's treasure</p>
    </div>
    <ul>
        <li><a href="/">Browse</a></li>
        <li><a href="/about">About</a></li>
    </ul>
</nav>