<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs'); %> 
<body>
<%- include('./partials/nav.ejs'); %> 

    <div class="container">
        <%- include('./partials/usernav.ejs'); %> 

        <div class="row my-4">
            <div class="col">
                <h3>Header</h3>
            </div>
        </div>
        <div class="row">
            <div class="col">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. At sint veniam ipsum reprehenderit excepturi eum beatae minus blanditiis quibusdam sapiente et perferendis doloribus alias asperiores, tempora id sed placeat accusantium!
            </div>
            <div class="col">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. At sint veniam ipsum reprehenderit excepturi eum beatae minus blanditiis quibusdam sapiente et perferendis doloribus alias asperiores, tempora id sed placeat accusantium!
            </div>
        </div>
    </div>
</body>
</html>